<form action="<%= c.PUBLIC_PATH %>account/forgot" method="POST" class="form">
    <h2>I forgot my password!</h2>
    <label for="email">Email</label>
    <input type="email" name="email" required>
    <input type="submit" class="button" value="Send A Reset">
</form>