<form action="<%= c.PUBLIC_PATH %>login" method="POST" class="form">
    <h2>Login</h2>
    <label for="email">Email</label>
    <input type="email" name="email" id="email" required autofocus>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    <input type="submit" class="button" value="Log In →">
</form>